Header{
Background-color: #ff0000;
Widht: 100%;
Height: 100px;
}

H1 {
Color: black;
}

table {
font-size: 95%;
}

TH {
Background-color: pink;
}

.yellow{
Background-color: yellow;
}

.green{
Background-color: green;
}

.orange{
Background-color: orange;
}

.purple{
Background-color: purple;
}

.yellow{
Background-color: yellow;
}

.green{
Background-color: green;
}

.orange{
Background-color: orange;
}

.purple{
Background-color: purple;
}

Footer{
Background-color: blue;
Widht: 100%;
Height: 100px;

